@inject MouseService mouseSrv;
@inject IDialogService DialogService;
@using MudBlazor.Extensions

@page "/canvas"
<PageTitle>Canvas</PageTitle>
<MudDynamicTabs @ref="DynamicTabs" @bind-ActivePanelIndex="_index" Border="true" Outlined="true" AddTab="AddTab" >
        @foreach (var item in _tabs)
        {
            <MudTabPanel Text="@item.Name" Tag="@item.Id">

                <MudButton OnClick="@Add">Add</MudButton>
                <div class="row mt-2">
                    <div class="col">
                        <svg class="bg-light" width="@canvasWidth" height="@canvasHeigth" xmlns="http://www.w3.org/2000/svg"
                             @onmousemove=@(e => mouseSrv.FireMove(this, e))
             @onmouseup=@(e => mouseSrv.FireUp(this, e))
             @ondblclick=@(e => delete(this, e))>
                            @foreach (var item in Objects)
                            {
                                <Draggable @bind-X="item.X" @bind-Y="item.Y">
                                    <Obstacle height="item.Height" width="item.Width"/>
                                </Draggable>
                            }
                        </svg>
                    </div>
                </div>

            </MudTabPanel>
        }
</MudDynamicTabs>


@code {

    private class TabView
    {
        public string Name { get; set; }
        public string Content { get; set; }
        public Guid Id { get; set; }
    }

    private void AddTab()
    {
        
    }

    [Parameter]
    public RenderFragment RenderFragment { get; set; }

    private MudDynamicTabs DynamicTabs;
    private int _index = 0;
    static double X = 290;
    static double Y = 250;
    int width = 40;
    int height = 40;
    static int c = 0;
    private string canvasWidth { get; set; } = "1200";
    private string canvasHeigth { get; set; } = "500";
    List<Objects> Objects = new();
    private List<TabView> _tabs = new();


    private async void Add()
    {
        var parameters = new DialogParameters
        {
            { "_content", "Add Obstacle" },
            { "height", 100 },
            { "width", 100 }
        };
        try
        {
            var result = DialogService.Show<ObstacleDialog>("Add Obstacle", parameters);
            var dialogResult = await result.Result;
            width = dialogResult.Data.As<Tuple<int, int>>().Item1;
            height = dialogResult.Data.As<Tuple<int, int>>().Item2;
            Objects.Add(new Objects(X, Y, width, height));
        }
        catch (Exception e)
        {
    //ignored
        }

        StateHasChanged();
    }

    private void delete(object? obj, MouseEventArgs e)
    {
        foreach (var o in Objects.Where(o => o.X + o.Width / 2 < e.OffsetX + o.Width / 2
                                             && o.X + o.Width / 2 > e.OffsetX - o.Width / 2
                                             && o.Y + o.Height / 2 < e.OffsetY + o.Height / 2
                                             && o.Y + o.Height / 2 > e.OffsetY - o.Height / 2))
        {
            Objects.Remove(o);
            StateHasChanged();
    // Console.WriteLine(o.X + " X position within : " + (o.Width - e.OffsetX) + " and " +( o.Width + e.OffsetX));
    // Console.WriteLine(o.Y + " Y position within : " + (o.Height - e.OffsetY) + " and " +(o.Height + e.OffsetY));
            return;
        }
    }

    protected override void OnInitialized()
    {
        _tabs.Add(new TabView { Name = "Tab A", Id = Guid.NewGuid() });
        _tabs.Add(new TabView { Name = "Tab B", Id = Guid.NewGuid() });
        _tabs.Add(new TabView { Name = "Tab C", Id = Guid.NewGuid() });
    }

}