@inject IDialogService DialogService;
@inject INapelem NapelemController
@using MudBlazor.Extensions
@using NapelemEditor.Models
@inject ISnackbar Snackbar
@inject IJSRuntime Js
@inject MouseService MouseSrv;

@page "/canvas"
<PageTitle>Canvas</PageTitle>

<MudDynamicTabs @ref="DynamicTabs" @bind-ActivePanelIndex="_index" Border="true" Outlined="true" AddTab="AddTabCallback" PanelClass="px-4 py-6" CloseTab="CloseTabCallback" AddIconToolTip="Click to add a new tab" CloseIconToolTip="Close tab">
    <ChildContent>
        <MudGrid>
            <MudItem>
                @foreach (var tab in _tabs)
                {
                    <MudTabPanel Text="@tab.Name" Tag="@tab.Id">
                        <MudButton OnClick="@(AddObstacle)" hidden="@tab.CanvasLocked" Variant="Variant.Outlined">Add Obstacle</MudButton>
                        <MudButton OnClick="@(LockCanvas)" Color="Color.Warning" hidden="@tab.CanvasLocked" Variant="Variant.Outlined">Lock Canvas</MudButton>
                        <div class="row mt-2">
                            <div class="col">
                                <svg class="bg-light" width="@tab.Width" height="@tab.Height" xmlns="http://www.w3.org/2000/svg"
                                     @onmousemove=@(e => onMove(this, e))
                                                    @onmouseup=@(e => MouseSrv.FireUp(this, e))
                                                    @ondblclick=@(e => DeleteObject(this, e))>
                                    @foreach (var obstacle in tab.Obstacles)
                                    {
                                        <Draggable @bind-X="obstacle.X" Height="obstacle.Height" Width="obstacle.Width" @bind-Y="obstacle.Y">
                                            <Obstacle Width="@obstacle.Width" Height="@obstacle.Height"/>
                                        </Draggable>

                                        @* <div itemid="" class="draggable" style="width: @panel.Width; height: @panel.Height; position: absolute; top: @panel.Y; left: @panel.X">Draggable element rendered</div> *@
                                    }
                                    @foreach (var panel in tab.Panels)
                                    {
                                        <Draggable @bind-X="panel.X" Height="panel.Height" Width="panel.Width" @bind-Y="panel.Y">
                                            <Obstacle Width="@panel.Width" Height="@panel.Height" color="blue"/>
                                        </Draggable>
                                    }
                                    @* <div class="draggable" style="width: 100px; height: 100px">Draggable element</div> *@
                                </svg>
                            </div>
                        </div>
                    </MudTabPanel>
                }
            </MudItem>
            <MudItem>
                <MudButtonGroup VerticalAlign="true">
                    @foreach (var solarPanel in _solarPanels.Where(solarPanel => _tabs.Count > 0))
                    {
                        <MudButton OnClick="@(() => AddPanel(solarPanel.Width, solarPanel.Height))">
                            <MudIcon Icon="@Icons.Material.Filled.SolarPower"/>
                            @(solarPanel.Name + " - " + solarPanel.Width + "x" + solarPanel.Height)
                        </MudButton>
                    }
                </MudButtonGroup>
            </MudItem>
            <MudItem>

            </MudItem>
        </MudGrid>
    </ChildContent>
</MudDynamicTabs>


@code
{

    [Parameter]
    public RenderFragment RenderFragment { get; set; }

    ElementReference canvasRef;
    private MudDynamicTabs DynamicTabs;
    private int _index;
    private List<TabView> _tabs = new();
    private List<Napelem> _solarPanels = new();

    protected override async Task OnInitializedAsync()
    {
        _solarPanels = await NapelemController.GetAllNapelem();
        AddTabCallback();
    }

    private async void AddTab(Guid id)
    {
        try
        {
            var result = await DialogService.ShowAsync<TabDialog>("Add Tab");
            var res = await result.Result;
            if (res.Canceled) return;
            var tab = res.Data.As<TabView>();
            _tabs.Add(new TabView { Name = tab.Name, Orientation = tab.Orientation, Width = tab.Width, Height = tab.Height, Id = Guid.NewGuid() });
        }
        catch (Exception e)
        {
    //ignored
        }
        StateHasChanged();
        _index = _tabs.Count - 1;
    }

    private async void RemoveTab(Guid id)
    {
        var tabView = _tabs.SingleOrDefault((t) => Equals(t.Id, id));
        if (tabView.Obstacles.Count > 0 || tabView.Panels.Count > 0)
        {
            DialogParameters parameters = new() { { "Content", "Wall is not empty! Are you sure you want to do that?" } };
            var result = await DialogService.ShowAsync<ConfirmDialog>("Warning!", parameters);
            var res = await result.Result;
            if (res.Canceled) return;
        }
        _tabs.Remove(tabView);
        StateHasChanged();
    }

    void AddTabCallback() => AddTab(Guid.NewGuid());
    void CloseTabCallback(MudTabPanel panel) => RemoveTab((Guid)panel.Tag);


    private void AddObstacle()
    {
        _tabs[_index].Obstacles.Add(new Objects(200, 10, 100, 100));
        StateHasChanged();
    }

    private void AddPanel(int width, int height)
    {
        if (!_tabs[_index].CanvasLocked)
        {
            Snackbar.Add("Wall customization still in progress!", Severity.Error);
            return;
        }
        _tabs[_index].Panels.Add(new Objects(150, 150, width, height));
    }

    private void LockCanvas()
    {
        foreach (var obstacle in _tabs[_index].Obstacles)
        {
            obstacle.isLocked = true;
        }
        _tabs[_index].CanvasLocked = true;
        StateHasChanged();
    }

    private void DeleteObject(object? obj, MouseEventArgs e)
    {
        foreach (var o in _tabs[_index].Obstacles.Where(o => !o.isLocked).Where(o => o.X + o.Width / 2 < e.OffsetX + o.Width / 2 && o.X + o.Width / 2 > e.OffsetX - o.Width / 2 && o.Y + o.Height / 2 < e.OffsetY + o.Height / 2 && o.Y + o.Height / 2 > e.OffsetY - o.Height / 2))
        {
            _tabs[_index].Obstacles.Remove(o);
            return;
        }

        foreach (var p in _tabs[_index].Panels.Where(p => p.X + p.Width / 2 < e.OffsetX + p.Width / 2 && p.X + p.Width / 2 > e.OffsetX - p.Width / 2 && p.Y + p.Height / 2 < e.OffsetY + p.Height / 2 && p.Y + p.Height / 2 > e.OffsetY - p.Height / 2))
        {
            _tabs[_index].Panels.Remove(p);
            return;
        }
    }

    private void onMove(object? obj, MouseEventArgs e)
    {
    foreach (var o in _tabs[_index].Obstacles)
    {
        Console.WriteLine(o.isLocked);
    }
    
    
    // // Console.WriteLine(e.OffsetX + " " + e.OffsetY);
    //     // foreach (var O in _tabs[_index].Obstacles)
    //     // {
    //     //     Console.WriteLine("obstacle pos: " + O.X + " " + O.Y);
    //     // }
    //     // if (_tabs[_index].Obstacles.Count > 0)
    //     // {
    //     //     Console.WriteLine("object pos: " + _tabs[_index].Obstacles[0].X + " " + _tabs[_index].Obstacles[0].Y);
    //     // }
    //     
    // //set X and Y coordinates of the object
    //
    //     
    // //check collision with obstacles and panels and if there is no collision move the object x and y coordinates are the left top corner of the object
    //    
    //
    // //if there is no collision with obstacles and panels check collision with the wall and if there is no collision move the object
    //     if (_tabs[_index].Obstacles.Any(o => o.X < 0 || o.X + o.Width+10 > int.Parse(_tabs[_index].Width) || o.Y < 0 || o.Y + o.Height+10 > int.Parse( _tabs[_index].Height)))
    //     {
    //         Console.WriteLine("collision with wall");
    //         return;
    //     }
    //
    //     if (_tabs[_index].Panels.Any(p => p.X < 0 || p.X + p.Width+10 > int.Parse(_tabs[_index].Width) || p.Y < 0 || p.Y + p.Height+10 > int.Parse( _tabs[_index].Height)))
    //     {
    //         Console.WriteLine("collision with wall+1");
    //         return;
    //     }
    //
    // //if there is no collision with the wall move the object
    //     if (_tabs[_index].Obstacles.Any(o => o.X + o.Width / 2 < e.OffsetX + o.Width / 2 && o.X + o.Width / 2 > e.OffsetX - o.Width / 2 && o.Y + o.Height / 2 < e.OffsetY + o.Height / 2 && o.Y + o.Height / 2 > e.OffsetY - o
    //         .Height / 2))
    //     {
    //         Console.WriteLine("collision with obstacle");
    //         return;
    //     }
    //     if (_tabs[_index].Panels.Any(p => p.X + p.Width / 2 < e.OffsetX + p.Width / 2 && p.X + p.Width / 2 > e.OffsetX - p.Width / 2 && p.Y + p.Height / 2 < e.OffsetY + p.Height / 2 && p.Y + p.Height / 2 > e.OffsetY - p.Height / 2))
    //     {
    //         Console.WriteLine("collision with panel");
    //         return;
    //     }

        MouseSrv.FireMove(obj, e);


    //save tab content to TabView
    }
}