@page "/solarpanels"
@using NapelemEditor.Models
@using NapelemEditor.Interfaces
@using Microsoft.EntityFrameworkCore.Metadata.Conventions
@using NapelemEditor.Components
@inject INapelem napelemController
@inject IDialogService DialogService

<PageTitle>Solar Panels</PageTitle>

<h1>Solar Panels</h1>
<MudTable T="Napelem" Items="_napelems">
    <ToolBarContent>
        <MudButton OnClick="OpenNewSolarPanelDialog" Variant="Variant.Filled" Color="Color.Info">Add new Panel</MudButton>
    </ToolBarContent>

    <HeaderContent>
        <MudTh class="header">
            <MudTableSortLabel SortBy="new Func<Napelem, object>(x => x.Name)">Name</MudTableSortLabel>
        </MudTh>
        <MudTh class="header">
            <MudTableSortLabel SortBy="new Func<Napelem, object>(x => x.Type)">Type</MudTableSortLabel>
        </MudTh>
        <MudTh class="header">
            <MudTableSortLabel SortBy="new Func<Napelem, object>(x => x.Shape)">Shape</MudTableSortLabel>
        </MudTh>
        <MudTh class="header">
            <MudTableSortLabel SortBy="new Func<Napelem, object>(x => x.Width)">Width</MudTableSortLabel>
        </MudTh>
        <MudTh class="header">
            <MudTableSortLabel SortBy="new Func<Napelem, object>(x => x.Height)">Height</MudTableSortLabel>
        </MudTh>
        <MudTh class="header">
            <MudTableSortLabel SortBy="new Func<Napelem, object>(x => x.Output)">Output</MudTableSortLabel>
        </MudTh>
        <MudTh class="header">
            <MudTableSortLabel SortBy="new Func<Napelem, object>(x => x.Price)">Price</MudTableSortLabel>
        </MudTh>
    </HeaderContent>

    <RowTemplate >
        <MudTd DataLabel="Name">@context.Name</MudTd>
        <MudTd DataLabel="Type">@context.Type</MudTd>
        <MudTd DataLabel="Shape">@context.Shape</MudTd>
        <MudTd DataLabel="Width">@context.Width</MudTd>
        <MudTd DataLabel="Height">@context.Height</MudTd>
        <MudTd DataLabel="Output">@context.Output</MudTd>
        <MudTd DataLabel="Price">@context.Price</MudTd>
        <MudTd>
            <MudIconButton Icon="@Icons.Material.Filled.Delete" OnClick="() => deletePanel(context.id)"></MudIconButton>
        </MudTd>
    </RowTemplate>

    <PagerContent>
        <MudTablePager/>
    </PagerContent>
</MudTable>


@code {

    List<Napelem> _napelems = new();
    private string _searchString;

    protected override async Task OnInitializedAsync()
    {
        _napelems = await napelemController.GetAllNapelem();
    }

    private async void OpenNewSolarPanelDialog()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };
        var res = DialogService.Show<NewSolarPanelDialog>("New Solar Panel", options);
        await res.Result;
        _napelems = await napelemController.GetAllNapelem();
        StateHasChanged();
    }

    private async void deletePanel(string ID)
    {
         napelemController.DeleteNapelem(ID);
        _napelems = await napelemController.GetAllNapelem();
        StateHasChanged();
    }

}